html, body
{
  height: 100%
}
header
{
  height: 140px;
  background-color: #1b2a49;
  text-align: center;
  /*padding-bottom: 15px;*/
}
h1
{
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #c9d1d3;
  padding-bottom: 50px;
}
header a
{
  text-align: center;
  box-sizing: border-box;
  padding: 7px;
  background-color: #465881;
  color: #c9d1d3;
  text-decoration: none;
}
header a:hover
{
  background-color: #00909e;
}
a
{
  text-decoration: none;
  color: black;
}
a:hover
{
  background-color: #ffad87;
}
.currentPage
{
  background-color: grey;
}
body
{
  display: flex;
  flex-direction: column;
  margin: 0;
}
main
{
  flex: 1 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
footer
{
  flex-shrink: 0;
  height: 55px;
  background-color: #d2caa94f;
  text-align: center;
  padding-top: 15px;
  font-size: 12px;
}
footer p
{
  margin: 0;
}
.imgCase
{
  text-align: center;
  margin-top: 20px !important;
  width: 400px;
  margin: auto;
}
img
{
  box-shadow: 3px 3px 5px black;
  height: 200px;
}
table
{
  margin-top: 10px;
  width: 100%;}
th
{
  height: 30px;
  padding: 10px;
  background-color: #c1a9a9;
}
td
{
  padding: 5px;
}
tr
{
  border-bottom: 1px solid black;
}
tr:nth-child(even)
{
  background-color: #cad0dd80;
}
input
{
  border-radius: 4px;
  outline: none;
}
input:focus
{
  border: 1px solid #00909e;
}
textarea
{
  border-radius: 4px;
  outline: none;
  resize: none;
}
textarea:focus
{
  border: 1px solid #00909e;
}
